@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');



body {
    margin: 0;
    font-family: "Kanit", sans-serif;
    background-color: #aaceffbf;
    /* font-family: "Tiny5", sans-serif; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 26px;
    margin-top: 0;
}

/* ========================================= */

.sec {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.fade {
    opacity: 0;
    transition: all 0.8s ease;
}


#sec1 {
    background-color: #fff;
    position: relative;
}

#sec2 {
    background-color: #aaceffbf;
    padding: 115px 80px;
    height: 100vh;
    box-sizing: border-box;
}

#sec3 {
    background-color: #aaceffbf;
    padding: 141px 250px;
}

#sec4 {
    background-color: #aaceffbf;
}

#sec4-2 {
    background-color: #aaceffbf;
}

#sec5 {
    background-color: #4880f7;
    padding: 200px;
}

#sec4,
#sec4-2,
#sec4-3 {
    padding: 80px;
}



.aside {
box-sizing: border-box;
padding: 0 90px;
width: 100%;
display: flex;
position: fixed;
left: 0;
top: 0;
background-color: #dfdfdf80;
justify-content: space-evenly;
height: 60px;
line-height: 60px;
}


.bar {
    text-align: center;
    width: calc(100%/5);
    font-size: 18px;

}

.bar>a {
    display: inline-block;
    width: 100%;
}

.indi_active {
    color: white;
    font-weight: 700;
    text-underline-offset: 5px;
    text-decoration: underline;
}

/* 
.indi:hover {
    text-underline-offset: 4px;
    text-decoration: underline;
    font-style: oblique;
} */

.SMN_effect-31 a {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    padding: 0;
  }
  
  .SMN_effect-31 a span {
    display: block;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .SMN_effect-31 a:after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    content: attr(data-hover);
    display: inline;
    text-align: center;
    -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .SMN_effect-31 a:hover {
    color: #fff;
  }
  
  .SMN_effect-31 a:hover span {
    color: #fff;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
  .SMN_effect-31 a:hover:after {
    top: 0;
  }
  
  .SMN_effect-31 a:active {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }

/* =============== 메인 ===================== */
#sec1 {
    overflow: hidden;
    position: relative;
}

.txt_box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #fff;
}

.retroshadow {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 22%, hsl(0deg 0% 100% / 12%) 60%);
    background-size: 0% 100%;
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
    opacity: 0;
    color: #ffffff;
    letter-spacing: 2.05em;
    text-shadow: 2px 2px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    
    animation: text 0.1s 1s forwards;
}

.text_b {
    left: 0;
    top: 0%;
    height: 30px;
    width: 0%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 22%, hsl(0deg 0% 100% / 12%) 60%);
    position: absolute;
    animation:  text_background 5s 1.2s forwards;
}

@keyframes text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text_background {
    0% {
        width: 0%;
    }
    100% {
        width: 99%;
    }
}

.txt {
    font-size: 140px;
    position: relative;
    text-align: center;
    font-size: 125px;

}

.txt:last-child {
    margin-top: 50px;
}


.circle {
    border-radius: 50%;
    background-color: #4880f7;

    position: absolute;
    opacity: 0;

    /* z-index: -1; */
}

.circle1 {
    width: 400px;
    height: 400px;

    left: -150px;
    top: -100px;

    animation: flicker 0.7s 0s;
}

.circle2 {
    width: 200px;
    height: 200px;

    right: -80px;
    top: -80px;

    animation: flicker 0.7s 0.1s;
}

.circle3 {
    width: 150px;
    height: 150px;

    left: 250px;
    top: 90px;

    animation: flicker 0.7s 0.2s;
}

.circle4 {
    width: 200px;
    height: 200px;

    right: -150px;
    bottom: -50px;

    animation: flicker 0.7s 0.3s;
}

.circle5 {
    width: 100px;
    height: 100px;

    right: 250px;
    bottom: 70px;

    animation: flicker 0.7s 0.4s;
}

.circle6 {
    width: 300px;
    height: 300px;

    left: 150px;
    bottom: -100px;

    animation: flicker 0.7s 0.5s;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.big_circle {
    width: 100vw;
    height: 100vw;
    background: #4880f7;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    animation: big_flicker 1.2s 0.7s forwards;
}

@keyframes big_flicker {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
    }
}


@keyframes changeFont {
    0% {
        font-family: "Kanit", sans-serif;
    }

    100% {
        font-family: "Tiny5", sans-serif;
        /* 끝나는 시점의 글꼴 (다시 처음으로 돌아감) */
    }
}

.cloud {
    position: absolute;
    opacity: 0;
    animation: cloud 2s 1.2s infinite;
}

.cloud1 {
    left: 0;
    top: 10%;
}

.cloud2 {
    top: 35%;
    right: 0;
}

.cloud3 {
    left: 0;
    bottom: 0;
}

@keyframes cloud {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    50% {
        opacity: 1;
        transform: translate(0, -50px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

canvas {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* =================프로필=========================== */
.pro_box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.pro_box_title {
    border-radius: 13px;
    padding: 5px;
    margin-right: 10px;
    background-color: hsl(0, 0%, 33%);
    color: #fff;
}

.date {
    color: #555555;
}

.date_sub {
    margin-bottom: 23px;
}

.pro_inner_box {
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-left: 90px;
}

.pro_l {
    width: 50%;
}

.pro_r {
    box-sizing: border-box;
    padding-left: 88px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #3f3f3f;
}

.photo {
    font-size: 0;
    text-align: center;
    margin-bottom: 30px;
}

.photo>img {
    padding: 11px;
    border: 3px dashed hsl(0, 0%, 33%);
    border-radius: 25px;
    width: 31%;
    font-size: 0;
}

.pro_dec {
    line-height: 40px;
    padding: 0 32px;
    color: #3f3f3f;
}

.qm {
    font-size: 28px;
}

/* ================== 스킬 ============== */
.skill_box {
    width: 100%;
    margin-right: 56px;
    border-right: 3px solid #fff;
    border-style: none dotted none none;
}

.grap {
    width: 100%;
    border-radius: 23px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-right: 19px;
    text-align: right;
    background-color: #bcbcbc40;
}

.grap_title {
    width: 60px;
    display: inline-block;
    line-height: 50px;
    margin-right: 6px;
}

.grap_box {
    width: 100%;
    display: flex;
    margin-bottom: 28px;
    align-items: center;
}

@keyframes grap1 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

@keyframes grap2 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

@keyframes grap3 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes grap4 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes grap5 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes grap6 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes grap7 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes grap8 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

.animate-width-1 {
    animation: grap1 1.2s linear forwards;
}

.animate-width-2 {
    animation: grap2 1.2s linear forwards;
}

.animate-width-3 {
    animation: grap3 1.2s linear forwards;
}

.animate-width-4 {
    animation: grap4 1.2s linear forwards;
}

.animate-width-5 {
    animation: grap5 1.2s linear forwards;
}

.animate-width-6 {
    animation: grap6 1.2s linear forwards;
}

.animate-width-7 {
    animation: grap7 1.2s linear forwards;
}

.animate-width-8 {
    animation: grap8 1.2s linear forwards;
}

.grap_inner {
    width: 0;
    border-radius: 23px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-right: 19px;
    text-align: right;
    background-color: hsl(91, 100%, 85%);
}

/* ======================포트폴리오==================== */

.pot_title {
    font-size: 20px;
    color: hsl(0, 1%, 45%);
    margin-right: 10px;
}

.pot_date {
    margin-bottom: 15px;
    color: hsl(0, 1%, 45%);
}

.pot_box {
    box-sizing: border-box;
    padding-top: 60px;
    width: 100%;
    height: 92%;
    display: flex;
    gap: 15px;

}



.moniter_p {
    width: 50%;
    perspective: 1000px
}

.moniter {
    width: 100%;
    transform: rotateY(19deg);
    translate: 37px;
    transform-origin: center center;
}

.moniter2 {
    width: 100%;
    transform: rotateY(-19deg);
    translate: -37px;
    transform-origin: center center;
}

.moniter>img {
    width: 100%;

}

.moniter2>img {
    width: 100%;
}

.pot_sub_box {
    width: 50%;
    height: 100%;
}

.sub1 {
    margin-bottom: 20px;
    color: #3f3f3f;
}

.sub2_box {
    gap: 8px;
    display: flex;
    margin: 25px 0;
    flex-wrap: wrap;
}

.sub2_box_inner {
    text-align: center;
    line-height: 72px;
    font-size: 19px;
    height: 72px;
    margin: 0 5px;
    background: #4880f7;
    color: #fff;
    width: 80px;
    border-radius: 9px;
}

.sub3_dec {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 12px;
    border: 2px dashed #8d8d8d;
    margin-top: 10px;
    font-size: 17px;
    color: #3f3f3f;
}

.inner3 {
    display: flex;
    flex-direction: column;
    line-height: normal !important;
    justify-content: center;


}

.pot_name {
    font-size: 30px;
    margin-bottom: 15px;
}



.frame {
    gap: 70px;
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.btn-15 {
    color: #4880f7;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #4880f7;
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #fff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

.custom-btn {
    font-size: 19px;
    width: 100px;
    height: 45px;
    border: 2px solid #4880f7;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 9px;
}

.txt-bg3 {background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63%, hsl(91, 100%, 85%) 50%);
}


/* /////////////////////컨택/////////////////////// */

.contact_box {
    margin-top: 102px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.icon {
    border-radius: 39px;
    font-size: 183px;
    background: #ddd;
    color: #000;
    transition: color 0.5s;
}

.icon>a {
    display: block;
    width: 100%;
    height: 100%;
}

.icon_box:hover .icon {
    color: #ffffff;
    text-shadow: 0 0 40px #0072ff, 0 0 35px #fff, 0 0 30px #fff, 0 0 25px #fff, 0 0 20px #fff, 0 0 15px #fff, 0 0 10px #fff, 0 0 5px #fff;
}


.contact_sub {
    font-size: 22px;
    margin: 25px 0;
}

.contact_sub2 {
    font-size: 23px;
}

h1 {
    text-align: center;
  }
  
  h1 span {
    position: relative;
    top: 0px;
    display: inline-block;
    animation: bounce .5s ease infinite alternate;
    font-size: 54px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .2s; }
  h1 span:nth-child(4) { animation-delay: .3s; }
  h1 span:nth-child(5) { animation-delay: .4s; }
  h1 span:nth-child(6) { animation-delay: .5s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  }